image: node:carbon

pipelines:
  branches:
    master:
      - step:
          caches:
            - node
          script:
            - yarn install
            - yarn run encore production
            - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD registry.katiecordescodes.com
            - docker build -t registry.katiecordescodes.com/personalsite:latest .
            - docker push registry.katiecordescodes.com/personalsite:latest
            - scp bitbucket-pipelines-update-prod.sh root@katiecordescodes.com:/docker/personalsite/bitbucket-pipelines-update-prod.sh
            - scp docker-compose.yml root@katiecordescodes.com:/docker/personalsite/docker-compose.yml
            - scp docker-compose.prod.yml root@katiecordescodes.com:/docker/personalsite/docker-compose.prod.yml
            - ssh -t root@katiecordescodes.com /docker/personalsite/bitbucket-pipelines-update-prod.sh
          deployment: production
    develop:
      - step:
          caches:
            - node
          script:
            - yarn install
            - yarn run encore production
            - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD registry.katiecordescodes.com
            - docker build -t registry.katiecordescodes.com/personalsite:dev .
            - docker push registry.katiecordescodes.com/personalsite:dev
            - scp bitbucket-pipelines-update-dev.sh root@katiecordescodes.com:/docker/personalsite/bitbucket-pipelines-update-dev.sh
            - scp docker-compose.yml root@katiecordescodes.com:/docker/personalsite/docker-compose.yml
            - scp docker-compose.dev.yml root@katiecordescodes.com:/docker/personalsite/docker-compose.dev.yml
            - ssh -t root@katiecordescodes.com /docker/personalsite/bitbucket-pipelines-update-dev.sh
          deployment: test
options:
  docker: true