version: "3"

services:
  web:
    image: registry.katiecordescodes.com/personalsite:latest
    restart: always
    labels:
      - traefik.backend=personalsite
      - traefik.frontend.rule=Host:katiecordescodes.com,www.katiecordescodes.com
      - traefik.docker.network=traefik_default
      - traefik.port=80
      - traefik.frontend.redirect.regex=^https?://www.katiecordescodes.com/(.*)
      - traefik.frontend.redirect.replacement=https://katiecordescodes.com/$${1}
    env_file:
      - prod-web.env
