version: "3.7"

services:
  ingress:
    image: registry.ops.katiecordescodes.com/nginx
    restart: always
    expose:
      - "8080"
    volumes:
      - .docker/ingress/ingress.conf:/etc/nginx/conf.d/default.conf
      - .docker/ingress/ingress-staging.conf:/etc/nginx/conf.d/default-staging.conf
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.personalsite.loadbalancer.server.port=8080"
      - "traefik.http.routers.personalsite.rule=Host(`${SITE_URL}`)"
      - "traefik.http.routers.personalsite.entryPoints=web"
      - "traefik.http.routers.personalsite.service=personalsite"
      - "traefik.http.services.personalsite-staging.loadbalancer.server.port=8080"
      - "traefik.http.routers.personalsite-staging.rule=Host(`staging.${SITE_URL}`)"
      - "traefik.http.routers.personalsite-staging.entryPoints=web"
      - "traefik.http.routers.personalsite-staging.service=personalsite"
    networks:
      - traefik
      - green
      - blue

  green-backend:
    image: registry.ops.katiecordescodes.com/personalsite
    restart: always
    labels:
      - "traefik.enable=false"
    networks:
      - green

  blue-backend:
    image: registry.ops.katiecordescodes.com/personalsite
    restart: always
    labels:
      - "traefik.enable=false"
    networks:
      - blue

networks:
  green:
  blue: