version: '3.7'

services:
  personalsite:
    container_name: personalsite
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.personalsite.rule=Host(`personalsite.localhost`)"
      - "traefik.http.routers.personalsite.entryPoints=web"
    networks:
      - traefik

networks:
  traefik:
    external: true
