version: '3.7'

services:
  entrypoint:
    command: npm run dev
    volumes:
      - ./src:/home/node/app/src
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.personalsite.rule=Host(`${SITE_URL}`)"
      - "traefik.http.routers.personalsite.entryPoints=web"
      - "traefik.http.routers.personalsite.service=personalsite"
      - "traefik.http.services.personalsite.loadbalancer.server.port=3000"
    networks:
      - traefik
      - default

networks:
  traefik:
    external: true
