@import '../../common/scss/colours';
@import '../../common/scss/grid';

.c-blurb {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  background-color: $verylighttan;
  margin: 40px auto;
  padding: 30px;
  color: $darkesttan;

  @include grid(3);
}