/* Skill component */
.skill {
  position: relative;
}

.skill__title {
  margin-bottom: 5px;
}

.skill__descriptor {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccd1d6;
  font-size: 0.9em;
}

.skill__bar {
  background-color: #e8e8e8;
  width: 100%;

  div {
    background-color: #66cb8c;
  }
}