/* Blurb component */
.blurb {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  padding: 30px;
  color: #434343;

  @include grid(3);
}

/* Blurb Title component */
.blurb__title {
  font-size: 1.75em;
  font-weight: bold;
  padding-bottom: 15px;

  @include col(3);
}

/* Blurb Text component */
.blurb__text {
  @include col(3);
}