/* Project component */
.project {
  margin-bottom: 20px;
}

/* Project Image component */
.project__image {
  text-align: center;

  img {
    max-height: 200px;
  }
}

/* Project Title component */
.project__title {
  font-size: 18px;
}

/* Project Description component */
.project__description {
  margin-bottom: 10px;
}

/* Project Link component */
.project__link {
  margin-bottom: 10px;

  a {
    text-decoration: none;
    color: #3AAA64;

    i {
      font-size: 1.2em;
      vertical-align: text-bottom;
      margin-right: 5px;
    }
  }

  a[href="#"] {
    text-decoration: none;
    color: inherit;

    i {
      display: none;
    }
  }
}