@import '../../common/scss/grid';
@import '../../common/scss/breakpoints';
@import '../../common/scss/colours';

.l-header {
  background-color: $lighttan;
  width: 100%;
  text-align: center;

  @include grid(3);

  padding: 30px 10px;
  margin-top: 10px;

  .l-header__portrait {
    text-align: right;
    margin: auto 0;

    @include col(1);

    @include media-up-to($small) {
      @include col(3);
      text-align: center;
    }
  }

  .l-header__content {
    text-align: left;
    margin: auto 0;

    @include col(2);

    @include media-up-to($small) {
      @include col(3);
      text-align: center;
    }
  }
}