.l-header {
  background-color: #EEFFFF;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  padding: 10px;
  margin-top: 10px;

  .l-header__portrait {
    grid-column: span 1;
    text-align: right;
    margin: auto 0;
  }

  .l-header__content {
    grid-column: span 2;
    text-align: left;
    margin: auto 0;
  }
}