@import '../../common/scss/grid';

.l-header {
  background-color: #EEFFFF;
  width: 100%;
  text-align: center;

  @include grid(3);

  padding: 10px;
  margin-top: 10px;

  .l-header__portrait {
    text-align: right;
    margin: auto 0;

    @include col(1);
  }

  .l-header__content {
    text-align: left;
    margin: auto 0;

    @include col(2);
  }
}