/* Name component - Theme */
.name {
  color: $darkesttan;
}

/* Descriptors component - Theme */
.descriptors {
  color: $verydarktan;
}

/* Blurb component - Theme */
.blurb {
  background-color: $verylighttan;
  color: $darkesttan;
}