/* Name component - Theme */
.name {
  color: $darkesttan;
}

/* Descriptors component - Theme */
.descriptors {
  color: $verydarktan;
}

/* Blurb component - Theme */
.blurb {
  background-color: $verylighttan;
  color: $darkesttan;
  border-radius: 10px;
}

/* Project Image component - Theme */
.project__image {
  border-radius: 5px;
}

/* Project Link component - Theme */
.project__link {
  a {
    color: $darkteal;
  }
}

/* Skill Descriptor component - Theme */
.skill__descriptor {
  color: $mediumtan;
}

/* Skill Bar component - Theme */
.skill__bar {
  background-color: $lighttan;

  div {
    background-color: $darkteal;
  }
}

/* Education Timeframe component - Theme */
.education__timeframe {
  color: $darktan;
}