/* Header */
.L-header {
  background-color: #f5f5f5;
  width: 100%;
  text-align: center;
  border-top: 10px #778492 solid;

  @include grid(3);

  padding: 30px 10px;

  .L-header__portrait {
    text-align: right;
    margin: auto 0;

    @include col(1);

    @include media-up-to($small) {
      @include col(3);
      text-align: center;
    }
  }

  .L-header__content {
    text-align: left;
    margin: auto 0;

    @include col(2);

    @include media-up-to($small) {
      @include col(3);
      text-align: center;
    }
  }
}

/* Content */
.L-content {
  width: 100%;
  padding: 1px 10px 0;
  box-sizing: border-box;
}